</main>

<div class="ui bottom fixed four item menu">
  <a class="item" href="/accueil">
    <img src="/img/accueil.png" alt="img-menu">
  </a>
  <a class="item" href="/autour-de-moi">
    <img src="/img/localisation.png" alt="img-menu">
  </a>
  <a class="item" href="/balades">
    <img src="/img/balades.png" alt="img-menu">
  </a>
  <a class="item" href="/profil">
    <img src="/img/profil.png" alt="img-menu" id="menu-img-profil">
  </a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg1TOK5I8HDTMcXKYk9Z1Vu3jpUFnU8nY&callback=initMap"></script>

</body>
</html>