<%- include('./includes/headerIndex.ejs')%>

  <form class="ui form" action="/login" method="post">

    <% if (locals.confirmMessage) { %>
      <div class="ui green message"><%- confirmMessage %></div>
    <% } %>

    <% if (locals.message) { %>
      <div class="ui red message"><%- message %></div>
    <% } %>

    <div class="field">
      <input type="email" placeholder="E-mail" name="email" >
    </div> 

    <div class="field">
      <input type="password" placeholder="Mot de passe" name="password" ">
    </div>
 
    <button class="login-button" type="submit"><img src="/img/balades.png" alt="img-login" id="img-login1">Connexion</button>

    <a href="" id="">Mot de passe oublié?</a>

    <p>Pas encore inscrit ? :</p>

    <a href="/inscription" class="login-button">Inscription<img src="/img/balades.png" alt="img-login" id="img-login2"></a>

  </form>

<%- include ('./includes/footerIndex.ejs') %>