form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 0;
}

form p{
    align-self: baseline;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
    font-size: 1.2em;
    margin-top: 5%;
}

.field{
    width: 100%;
    margin-bottom: 2% !important;
}

input{
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    color: white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

input::placeholder{
    color: #F1E1F0 !important;
    font-family: 'Rajdhani', sans-serif;
}

label{
    color: white !important;
    font-family: 'Rajdhani', sans-serif;
}

textarea{
    width: 80%;
    margin-bottom: 7% !important;
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    color: white !important;
}

textarea::placeholder{
    color: #F1E1F0 !important;
    font-family: 'Rajdhani', sans-serif;
}

.login-button{
    position: relative;
    width: 100%;
    min-height: 45px;
    margin-bottom: 20%;
    margin-top: 5%;
    background-color: #FEE600;
    border: 2px solid #6D4434;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #6D4434;
    text-align: center;
}

#img-login2{
    width: 25%;
    background-color: #E2CAEE;
    position: absolute;
    border: #6D4434 2px solid;
    border-radius: 50%;
    top: -40%;
    left: 80%;
}

/* Checkbox */
#check{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#checkfield{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 0;
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

/* edit-profil */ 
#uploadFile {
    width: 100%;
    display: flex;
    align-items: center;
}

#uploadFile input {
background: none !important;
border: none;
}

#uploadFile input::-webkit-file-upload-button {
    visibility: hidden;
  }

#uploadFile input::before {
    content: 'Choisir une image';
    display: inline-block;
    color: #6A2D8F ;
    padding: 5px 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
    text-decoration: underline;
    word-break: normal;
    font-family: 'Rajdhani', sans-serif;
}

#uploadFileLabel{
    margin-bottom: 2% !important;
}

#confirmButton{
    width: 100%;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
}

/* media */

@media (min-width: 768px) {
    #confirmButton{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        background-color: #FEE600;
        color: #6D4434;
        border: 2px solid #6D4434 !important;
        border-radius: 5px !important;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: larger;
    }
}