@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

/* header-footer */
#header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #E2CAEE !important;
    margin: 0 !important;
    min-height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header h1{
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F !important;
    margin: 0;
}

#header a i{
    transform: scale(1.5);
}

main{
    position: relative;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20%;
}

.menu{
    background-color: #E2CAEE !important;
    margin: 0 !important;
    height: 7.5%;    
    z-index: 10000 !important;
}

.menu .ui.avatar.image{
    width: 3em;
    height: 3em;
}

.ui.menu .item:before{
    background: none;
}

p{
    margin-top: 10%;
    color: #6A2D8F;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
}

hr{
    width: 90%;
    border: 1px solid #6A2D8F;
    margin-top: 5%;
    margin-bottom: -2px;
    position: relative;
    left: 0;
}

h2{
    align-self: baseline;
    margin: 0;
    margin-left: 2%;
    background-color: #6A2D8F;
    color: white;
    border-radius: 0 0 20px 0;
    padding: 1% 5%;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
}

h3{
    color: #6A2D8F;
    font-size: x-large;
    font-family: 'Port Lligat Sans', sans-serif;
    align-self: baseline;
    margin-left: 5%;
    margin-bottom: 0;
}

#like{
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: xx-large;
    width: auto;
    margin: 0;
}

#like button{
    color: red;
    border: none;
    background: none;
}

/* vertical card */

#verticalCard{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-shadow: 5px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px 0 0 10px !important;
    background: none !important;
    text-align: start;
}

#verticalCard img {
    aspect-ratio: 4 / 3 !important;
    border-radius: 10px 0 0 10px !important;
    box-shadow: none;
}

#verticalCard .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: none !important;
    padding: 0 0 0 5% !important;
}

#verticalCard h4 {
    margin: 0;
    color: #6A2D8F;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    text-align: start;
}

#verticalCard span {
    margin: 0;
    color: #6A2D8F;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
}

#verticalCard #like {
    position: initial;
    margin: 2% 0;
    width: auto;
    align-self: baseline;
    font-size: large;

}

/* searchbar */

#searchbar {
    width: 97%;
}

#searchbar input {
    background-color: white !important;
    border-radius: 0 !important;
    color: #6A2D8F !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3) !important;
}

#searchbar input::placeholder {
    color: #6A2D8F !important;
    font-family: 'Port Lligat Sans', sans-serif !important;
    font-size: 1.2em;
}

.icon.search::before {
    color: #6A2D8F;
    transform: scale(1.3);
}
