/* searchbar */

#searchbar{
    width: 100%;
}

#searchbar input{
    background-color: white !important;
    border-radius: 0 !important;
    color: #6A2D8F !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .5) !important;
}

#searchbar input::placeholder{
    color: #6A2D8F !important;
    font-family: 'Port Lligat Sans', sans-serif !important;
    font-size: 1.2em;
}

.icon.search::before{
    color: #6A2D8F;
    transform: scale(1.3);
}

/* new cards */

#homeNewList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeNewCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

#homeNewCard a{
    border-radius: 0 !important;
}

#homeNewCard a img{
    aspect-ratio: 1 / 1 !important;
    border-radius: 10px 0 0 10px !important;
}

#homeNewCard .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: none !important;
    padding: 0 0 0 2% !important;
}





