/* searchbar */
#searchDiv {
    width: 100%;
}

#searchBar{
    background-color: white !important;
    border-radius: 0 !important;
    color: #6A2D8F !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .3) !important;
}

#searchBar::placeholder {
    color:  #E2CAEE !important;
    font-family: 'Port Lligat Sans', sans-serif !important;
    font-size: 1.2em;
}

/* newDogsSection */
#dogsAroundSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    padding-left: 5%;
}

#dogsAroundSection a{
    display: flex;
    flex-direction: column;
    min-width: 120px;
    max-width: 130px;
    align-items: center;
}

#dogsAroundSection .ui.card{
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0 !important;
    padding-right: 5%;
    width: fit-content;
}

#dogsAroundSection .ui.card img{
    border-radius: 10px;
    min-width: 120px;
    max-width: 130px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 25%);
}

#dogsAroundSection .ui.card .content{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

#dogsAroundSection .ui.card h4{
    width: 100%;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    text-align: start;
    color: #6A2D8F !important;
}

/* searchDogsSection */
#searchDogsSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 5% 0 5%;
}


#searchDogsSection .ui.card{
    border: none;
    padding: 2% 5% 0 0 !important;
    margin: 0 0 2% 0!important;
    width: fit-content;
}

#searchDogsSection a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#searchDogsSection .ui.card img{
    border-radius: 10px;
    min-width: 75px;
    max-width: 75px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: none !important;
}

#searchDogsSection .ui.card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

#searchDogsSection .ui.card h4{
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: small;
    text-align: start;
    color: #6A2D8F !important;
}

#searchDogsSection .ui.card h5{
    width: 100%;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: x-small;
    text-align: start;
    color: #E2CAEE !important;
}

/* jQuery */

.highlighted{
    background-color: #6A2D8F;
    color: white;
}