@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* General */
body {
    background-color: #E2CAEE;
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F;

}

body ::-webkit-scrollbar {
    display: none;
}

h1{
    color: #6A2D8F;
    font-family: 'Rajdhani', sans-serif;
    align-self: baseline;
}

h2{
    color: #6A2D8F;
    font-family: 'Rajdhani', sans-serif;
    align-self: baseline;
    text-decoration: underline;
}

#labeldate{
    align-self: baseline;
    font-size: 1.2em;
}

/* Link */
a{
    color:#6A2D8F;
    width: 100%;
    margin-top: -5%;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDivButton{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.login-button{
    width: 100%;
    min-height: 45px;
    margin: 0;
    background-color: #FEE600;
    border: 2px solid #6D4434;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #6D4434;
    text-align: center;
}

.loginDivButton img{
    width: 80px;
    border: 2px solid #6D4434;
    border-radius: 100px;
    background-color: #E2CAEE;
    margin: 0;
    position: absolute;
    right: -5%;
    z-index: 10000;
}

div:nth-of-type(4) img{
    left: -5%;
}


/* Form */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.field{
    width: 100%;
    margin-bottom: 10% !important;
}

input{
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

input::placeholder{
    color: #F1E1F0 !important;
    font-family: 'Rajdhani', sans-serif;
}

label{
    color: white !important;
}

/* breedSuggest */
#breedList {
    position: absolute;
    width: 100%;
    max-height: 330px;
    overflow: scroll;
    background-color: #E2CAEE;
    border-radius: 10px;
    border-right: 1px solid #6A2D8F;
    border-left: 1px solid #6A2D8F;
}

#breedList .breedMatch {
    color: #6A2D8F;
    padding: 3%;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
}

/* citySuggest */
#cityList {
    position: absolute;
    width: 100%;
    max-height: 330px;
    overflow: scroll;
    background-color: #E2CAEE;
    border-radius: 10px;
    border-right: 1px solid #6A2D8F;
    border-left: 1px solid #6A2D8F;
}

#cityList .cityMatch {
    color: #6A2D8F;
    padding: 3%;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
}

#cityList .cityMatch:hover {
    background-color: #6A2D8F;
    color: white;
}

/* Checkbox */
#check{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#checkfield{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 0;
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

/* checkListItems */

#checkListDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -5%;
}

.checkListItem{
    background-color: #D12500;
    border: 1px solid white;
    border-radius: 100px;
    padding: 1% 2%;
    color: white;
    margin-block-end: 5% !important;
}

.checkListItemValid{
    background-color: #009A0E;
    border: 1px solid white;
    border-radius: 100px;
    padding: 1% 2%;
    color: white;
    margin-block-end: 5% !important;
}
