/* user profil */
#profilImgContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3%;
}

#coverImg{
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 95%;
    border-radius: 10px 10px 0 0;
}

#profilImg{
    margin: auto;
    margin-top: -15%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border: 3px solid #fff;
    background-color: white;
}

#profilInfosContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 15% auto 15%;
    margin-top: 3%;
}

#profilInfosContainer p{
    grid-column: 2;
    margin: 0;
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
}

#userName{
    font-size: x-large;
    font-weight: 600;
}

#userBio{
    font-size: large;
    font-style: italic;
}

#dropdown {
    grid-row: 1 / 3;
    grid-column: 3;
    margin: auto;
    position: relative;
}

#dropdown img{
    max-height: 30px;
}

#dropdownglobalmenu{
    position: absolute;
    width: max-content;
    height: auto;
    z-index: 10000;
    right: 0;
    top: 50px;
    border: 2px solid #6A2D8F;
    border-radius: 5px;
    background-color: white;
}

#dropdownglobalmenu div{
    height: 40px;
    display: flex;
    align-items: center;
}

#dropdownglobalmenu div:nth-child(2){
    height: 50px;
}

#dropdownglobalmenu a{
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 5%;
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F;
    display: flex;
    align-items: center;
}

#dropdownglobalmenu a:nth-child(1):active{
    background-color: #6A2D8F !important;
    color: white !important;
}

#deletelinkprofil{
    color: red !important;
}

.dogCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding-left: 5%;
    padding-right: 5%;
}

.dogCard a{
    display: flex;
    flex-direction: column;
}

.ui.card{
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 5% 0 0 0 !important;
    padding-right: 10%;
    width: fit-content;
}

.ui.card img{
    border-radius: 100px;
    width: 100px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 25%);
}

.ui.card h4{
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    text-align: center;
    color: #6A2D8F !important;
    margin: 5% 0 0 0;
}

#addDogButton{
    padding: 0;
    margin: 0 !important;
    font-size: 1.5em;
    margin: 7% auto 0% auto;
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#addDogButton i::before{
    margin: 0;
    padding: 0;
    color: #6A2D8F;
}

/* dogProfil */
#dogAttachment{
    width: 100%;
    margin: 0;
    padding: 0;
}

#dogAttachment img{
    object-fit: cover;
    aspect-ratio: 3/2;
}

#dogInfosContainer{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    color: #6A2D8F !important;
}

#dogInfosContainer p{
    margin: 0;
}

#dogName{
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;
}

#dogBreed{
    font-size: 1.2em;
    font-family: 'Rajdhani', sans-serif;
}

#dogAge{
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
}

#dogSex{
    font-size: 2em;
    font-family: 'Rajdhani', sans-serif;
}

#dogSize{
    font-size: 1.2em;
    font-family: 'Rajdhani', sans-serif;
}

#dogSterile{
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
}

#dogBio{
    width: 90%;
    margin-top: 5%;
    text-align: center;
    font-size: 1.2em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
    word-break: break-word;
    font-style: italic;
}

#userImg{
    width: 100%;
    margin-top: 5%;
    padding-left: 2%;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.ui.avatar.image{
    object-fit: cover;
    width: 4em;
    height: 4em;
    aspect-ratio: 1/1;
}

#editDogButton{
    width: 80%;
    margin-top: 10% !important;
    margin-bottom: 4% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: larger;
}

#deleteButton{
    font-family: 'Rajdhani', sans-serif;
    color: red;
    text-decoration: underline;
}

#breedList {
    position: absolute;
    width: 100%;
    max-height: 330px;
    overflow: scroll;
    background-color: #E2CAEE;
    border-radius: 10px;
    border-right: 1px solid #6A2D8F;
    border-left: 1px solid #6A2D8F;
}

#breedList .breedMatch {
    color: #6A2D8F;
    padding: 3%;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
}

#cityList {
    position: absolute;
    width: 100%;
    max-height: 250px;
    overflow: scroll;
    background-color: #E2CAEE;
    border-radius: 10px;
    border-right: 1px solid #6A2D8F;
    border-left: 1px solid #6A2D8F;
}

#cityList .cityMatch {
    color: #6A2D8F;
    padding: 3%;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    cursor: pointer;
}

#cityList .cityMatch:hover {
    background-color: #6A2D8F;
    color: white;
}

/* marks */

#marksProfilDiv{
    width: 100%;
    max-height: 400px;
    overflow: scroll;
    margin-top: 2%;
    padding: 0 5% 2% 5%;
}

/* media */

@media (min-width: 768px) {
    #profilImg {
        width: 300px;
        height: 300px;
    }
}

/* not supported */

@supports not (aspect-ratio: 1 / 1) {
    @media (max-width: 768px) {
        #profilImg {
            width: 150px;
            height: 150px;
        }
    }

    @media (min-width: 768px) {
        #profilImg {
            width: 300px;
            height: 300px;
        }
    }
}