/* user profil */

#profilImgContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3%;
}

#coverImg{
    object-fit: cover;
    width: 95%;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
}

#profilImg{
    margin: auto;
    margin-top: -15%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border: 3px solid #fff;
}

#profilInfosContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    margin-top: 3%;
}

#profilInfosContainer p{
    grid-column: 2;
    margin: 0;
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
}

#profilInfosContainer a{
    grid-column: 3;
    grid-row: 1;
    background-color: transparent;
}

#profilInfosContainer a i{
    color: #6A2D8F;
    transform: scale(2)
}

#userName{
    font-size: x-large;
    font-weight: 600;
}

#userBio{
    font-size: large;
}

.dogCard{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dogCard a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
}

.ui.card{
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 5% 0 0 0 !important;
    width: fit-content;
}

.ui.card img{
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.ui.card h3{
    color: #6A2D8F !important;
    margin: 5% 0 0 0;
}

#addDogButton{
    padding: 0;
    font-size: 1.5em;
    margin: 10% auto 5% auto;
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#addDogButton i::before{
    margin: 0;
    padding: 0;
    color: #6A2D8F;
}

/* dogProfil */
#dogAttachment{
    width: 100%;
    margin: 0;
    padding: 0;
}

#dogInfosContainer{
    margin: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogBio{
    width: 70%;
    margin-top: 5%;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogUser{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 5%;
    padding-left: 2%;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogUser img{
    width: 20%;
}

#editDogButton{
    width: 80%;
    margin-top: 10% !important;
    margin-bottom: 4% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: larger;
}

#deleteButton{
    font-family: 'Rajdhani', sans-serif;
    color: red;
    text-decoration: underline;
}

/* update-profil */

#confirmButton{
    width: 100%;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
}

/* add-dog */

#labeldate{
    align-self: baseline;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
    font-size: 1.2em;
}