@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

/* header-footer */
#header{
    background-color: #E2CAEE !important;
    margin: 0 !important;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header h1{
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F !important;
    margin: 0;
}

#header a i{
    transform: scale(1.5);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20%;
}

.menu{
    background-color: #E2CAEE !important;
    margin: 0 !important;
    height: 7.5%;
}

.ui.menu .item:before{
    background: transparent;
}

#menu-img-profil{
    transform: scale(0.8);
}

hr{
    width: 90%;
    border: 1px solid #6A2D8F;
    margin-top: 5%;
    margin-bottom: 0;
    position: relative;
    left: -5%;
}

h2{
    align-self: baseline;
    margin: 0;
    background-color: #6A2D8F;
    color: white;
    border-radius: 0 0 20px 0;
    padding: 1% 5%;
    font-family: 'Rajdhani', sans-serif;
}

/* forms */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0;
}

.field{
    width: 100%;
    margin-bottom: 10% !important;
}

input{
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

input::placeholder{
    color: #F1E1F0 !important;
    font-family: 'Rajdhani', sans-serif;
}

label{
    color: white !important;
}

textarea{
    width: 80%;
    margin-bottom: 7% !important;
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    color: white !important;
}

textarea::placeholder{
    color: #F1E1F0 !important;
    font-family: 'Rajdhani', sans-serif;
}

.login-button{
    position: relative;
    width: 100%;
    min-height: 45px;
    margin-bottom: 20%;
    margin-top: 5%;
    background-color: #FEE600;
    border: 2px solid #6D4434;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #6D4434;
    text-align: center;
}

#img-login2{
    width: 25%;
    background-color: #E2CAEE;
    position: absolute;
    border: #6D4434 2px solid;
    border-radius: 50%;
    top: -40%;
    left: 80%;
}

/* Checkbox */
#check{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#checkfield{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 0;
    background-color: #6A2D8F !important;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid white !important;
    color: white !important;
    border-radius: 5px !important;
    min-height: 45px;
}

/* profil */

#profil-img-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#img-profil-user{
    margin: auto;
    margin-top: -15%;
}


#img-cover-user{
    width: 100%;
}

#profil-infos-container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#profil-infos-container p{
    grid-column: 2;
    margin: 0;
    text-align: center;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
}

#user-name{
    font-size: x-large;
    font-weight: 600;
}

#user-bio{
    font-size: large;
}

#profil-infos-container a {
    grid-column: 3;
    grid-row: 1;
}

#profil-infos-container a{
    grid-column: 3;
    grid-row: 1;
    background-color: transparent;
}

#profil-infos-container a i{
    color: #6A2D8F;
    transform: scale(2)
}

.dogCard{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ui.card{
    margin: 0 2%;
    width: fit-content;
    padding: 2%;
}

.ui.card h3{
    color: #6A2D8F !important;
}

#addDogButton{
    padding: 0;
    font-size: 1.5em;
    margin: 10% auto 5% auto;
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#addDogButton i::before{
    margin: 0;
    padding: 0;
    color: #6A2D8F;
}

/* dogProfil */

#dogInfosContainer{
    margin: 2% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogBio{
    width: 70%;
    margin-top: 5%;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogUser{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 5%;
    padding-left: 2%;
    font-size: 1.5em;   
    font-family: 'Rajdhani', sans-serif;
    color: #6A2D8F !important;
}

#dogUser img{
    width: 20%;
}

#editDogButton{
    width: 80%;
    margin-top: 10% !important;
    margin-bottom: 4% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: larger;
}

#deleteButton{
    font-family: 'Rajdhani', sans-serif;
    color: red;
    text-decoration: underline;
}

/* update-profil */

#confirmButton{
    width: 100%;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    background-color: #FEE600;
    color: #6D4434;
    border: 2px solid #6D4434 !important;
    border-radius: 5px !important;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
}

/* add-dog */

#labeldate{
    align-self: baseline;
    font-family: 'Port Lligat Sans', sans-serif !important;
    color: #6A2D8F;
    font-size: 1.2em;
}

/* localise */

#map {
    height: 100%;
  }

/* searchbar */

#searchbar{
    width: 100%;
}

#searchbar input{
    background-color: white !important;
    border-radius: 0 !important;
    color: #6A2D8F !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .5) !important;
}

#searchbar input::placeholder{
    color: #6A2D8F !important;
    font-family: 'Port Lligat Sans', sans-serif !important;
    font-size: 1.2em;
}

.icon.search::before{
    color: #6A2D8F;
    transform: scale(1.3);
}



