/* main page */
#walkSection{
    width: 100%;
    padding: 2% 3% 0 3%;
}

#walkSection h2{
    width: fit-content;
    margin: 5% 0 5% 0;
}

.walkSectionCards{
    width: 100%;
    padding-right: 5%;
    max-height: 350px;
    overflow-y: scroll;
}

.walkSectionCards #verticalCard {
    margin: 0 !important;
    box-shadow: none !important;
    padding-bottom: 5%;
}

.walkSectionCards #verticalCard .content{
    height: 100px;
    justify-content: space-between !important;
}

.walkSectionCards #verticalCard h4{
    margin-top: 2%;
    font-size: x-large;
}

.walkSectionCards #verticalCard span{
    margin-top: 2%;
    font-size: large;
}

.walkSectionCards #verticalCard img{
    aspect-ratio: 1 / 1 !important;
    border-radius: 10px 10px 10px 10px !important;
}

.invitedDogAvatarImg{
    align-self: flex-end;
}

.walkSectionCards #verticalCard .ui.avatar.image{
    margin: 0;
    margin: 0;
    object-fit: cover;
    border-radius: 100px !important;
    transform: scale(1.2);
}

#addWalkButton{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#addWalkButton img{
    max-width: 95%;
    margin: 0 3% 0 2%;
}

/* main add */
#createWalkForm p{
  margin-top: 15%;
}

#createWalkForm p:nth-child(1){
    margin-top: 0;
  }

#walkDate{
    width: 100%;
}

#walkDate div:nth-of-type(2){
    margin-top: 5%;
}

#walkDate div:nth-of-type(2) label:nth-of-type(2){
    margin-left: 5%;
}

.walkDateInput{
    display: flex;
    align-items: center;
}

.walkDateInput label{
    margin-right: 5%;
    color: #6A2D8F !important;
}

#walkAdressInput{
    display: flex;
    margin-top: 5%;
}

#walkAdressInput input:nth-of-type(2){
    margin-left: 5%;
}

#createWalkForm textarea{
    margin-bottom: 0 !important;
}

    /* add dogs */
    #addDogs{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    #addDogs input {
        position: absolute;
        left: -9999px;
    }
    
    #addDogs label {
        display: block;
        position: relative;
        width: fit-content;
        margin-top: 5%;
        padding: 5px 14px 5px 60px;
        border: 1px solid #fff;
        border-radius: 100px;
        color: #fff;
        font-size: 1.3em;
        background-color: #6A2D8F;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color .2s, box-shadow .2s;
    }

    #addDogs label img{
        object-fit: cover;
        width: 2em;
        height: 2em;
        margin: 0 10%;
        aspect-ratio: 1/1;
    }
    
    #addDogs label::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 20%;
        left: 5%;
        width: 30px;
        aspect-ratio: 1 / 1;
        border: 1px solid #fff;
        border-radius: 100px;
        transition: background-color .2s;
    }

    #addDogs label:hover, #addDogs input:focus + #addDogs label {
        box-shadow: 0px 0px 4px rgb(0 0 0 / 60%);
    }
    
    #addDogs input:checked + label {
        background-color: green;
    }
    
    #addDogs input:checked + label::before {
        background-color: #fff;
    }

    /* matches */
    #addFriend{
        position: relative;
        width: 100%;
    }


    #matchList{
        position: relative;
        overflow: scroll;
        width: 70%;
        padding: 5%;
        padding-top: 0;
        background-color: white;
        max-height: 300px;
        z-index: 1000;
        overflow-x: auto;
    }

    #matchList #verticalCard {
        width: 100%;
    }

    /* selected */
    #selectedArea{
        width: -webkit-fill-available;
        display: flex;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .selectedDiv{
        width: 50%;
        display: flex;
        align-items: center;
    }

    #selectedArea img{
        object-fit: cover;
    }

    #selectedArea span{
        align-self: flex-end;
        margin-right: 5%;
        font-family: 'Rajdhani', sans-serif;
        color: #6A2D8F !important;
    }

    .selectedDiv .ui.circular.button{
        background-color: red;
        transform: scale(0.8);
        align-self: baseline;
        margin-top: -15px;
        margin-right: -20px;
        z-index: 1000;
    }

    .selectedDiv i{
        color: white;
    }

/* walkView */
.acceptInvitButton{
    width: 100%;
    margin: 10% 0 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.acceptInvitButton a{
    width: 40%;
}

.walkContent{
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #E2CAEE;
    border-radius: 10px 10px 0 0;
}

.walkContent img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.walkContent div:nth-of-type(1){
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.walkContent div h3{
    width: 100%;
    margin: 0;
}

.walkContent div h4{
    color: #6A2D8F !important;
    margin: 0;
}

#walkInfoContent{
    width: 90%;
    padding-top: 5%;    
}

#walkInfoContent h3{
    margin: 0;
}

#walkInfoContent h4{
    font-size: small;
}

#walkInfoContent p{
    margin-top: 0;
    font-style: italic;
}

#walkInfoContent hr{
    width: 100%;
    margin-bottom: 5%;
}

#walkInfoContent .dogCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    overflow: inherit;
    padding: 0;
}

#walkInfoContent .ui.card{
    margin: 2% 0 0 0 !important;
    padding: 0 !important; 
    background-color: transparent;
}

#walkInfoContent img{
    width: 60px;
}

#updateWalkButton {
    background-color: #6A2D8F;
    color: white;
}

/* media */
@media (max-width: 768px) {
    #matchList{
        width: 100%;
    }

    #selectedArea{
        flex-direction: column;
        align-items: baseline;
    }

    .selectedDiv{
        margin: 0;
        margin-top: 5%;
    }

}