<%- include('../includes/header.ejs')%>

<form class="ui form" action="/add-dog" method='post'>

  <!--attachment-->

  <div class="field">
    <input type="text" name="name" placeholder="Nom" required>
  </div>

  <div class="field">
    <input type="text" name="icad" placeholder="Numéro de puce" required>
  </div>
  
  <div class="field">
    <input type="text" name="breed" placeholder="Race" required>
  </div>

  <p id="labeldate">Date de naissance:</p>
  <div class="field">
    <input type="date" name="birthday" required>
  </div>

  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
        <input type="radio" name="sexe" value="1" tabindex="0" class="hidden">
        <label>Mâle</label>
    </div>

    <div class="inline field" id="checkfield">
        <input type="radio" name="sexe" value="0" tabindex="0" class="hidden">
        <label>Femelle</label>
    </div>
  </div>  

  <p id="labeldate">Taille:</p>
  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="1" tabindex="0" class="hidden">
      <label>Petit</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="2" tabindex="0" class="hidden">
      <label>Moyen</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="3" tabindex="0" class="hidden">
      <label>Grand</label>
    </div> 
  </div>  

  <p id="labeldate">Stérile:</p>

  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
      <input type="radio" name="sterile" value="1" tabindex="0" class="hidden">
      <label>Oui</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="sterile" value="0" tabindex="0" class="hidden">
      <label>Non</label>
    </div>
  </div>

  <textarea rows="2" name="description" placeholder="Ajoutez un petit mot sur votre ami"></textarea>

<button class="login-button"  type="submit">Confirmer<img src="/img/balades.png" alt="img-login" id="img-login2"></button>

</form>

<%- include ('../includes/footer.ejs') %>