<%- include('../includes/header.ejs')%>

<div class="ui input" id="searchbar">
    <input type="text" placeholder="Entrez le nom ou la race d'un compagnon">
</div>

<div class="homeTitles">
    <h3>Autour de moi :</h3>
</div>

<%- include ('../includes/footer.ejs') %>

<script type="text/javascript"></script>