<%- include('../includes/header.ejs')%>

<div class="ui small icon input" id= "searchbar">
    <input type="text" placeholder= "Rechercher">
    <i class="search icon"></i>
</div>

<div id="map"></div>


<%- include ('../includes/footer.ejs') %>