<%- include('../includes/header.ejs')%>
<div id="searchbar">
    <input type="text" placeholder= "Rechercher">
    <button><i class="search icon"></i></button></input>
</div>
<div id="map"></div>


<%- include ('../includes/footer.ejs') %>