<%- include('../includes/headerIndex.ejs')%>

<form class="ui form" action="/inscription" method='post'>

    <h1>Vous:</h1>
    
    <% if (locals.emailMessage) { %>
      <div class="ui yellow message"><%- locals.emailMessage %></div>
    <% } %>
      
    <% if (locals.passwordMessage) { %>
      <div class="ui red message"><%- locals.passwordMessage %></div>
    <% } %>

    <div class="field">
        <input type="text" name="username" placeholder="Pseudo (requis)" minlength="2" maxlength="13" required>
    </div>

    <div class="field">
      <input type="email" name="email" placeholder="e-mail (requis)" required>
    </div>

    <div class="field">
      <input type="text" name="city" placeholder="City or Zip-Code" id="citySearch">
      <div id="cityList"></div>
    </div>

    <div class="field">
      <textarea name="bio" placeholder="ajouter une description" rows="5"></textarea>
    </div>
 
    <div class="field">
      <input type="password" name="password" placeholder="Mot-de-passe (requis)" required>
    </div>

    <div id="checkListDiv">
      <p class="checkListItem">1 majuscule</p>
      <p class="checkListItem">1 minuscule</p>
      <p class="checkListItem">1 chiffre</p>
      <p class="checkListItem">1 caractère spécial</p>
      <p class="checkListItem">8 caractrères</p>
    </div>
    
    <div class="field">
      <input type="password" name="passwordConfirm" placeholder="Confirmez le mot-de-passe (requis)" required>
    </div>

    <h1>Votre chien:</h1>

    <div class="field">
      <input type="text" name="name" placeholder="Nom (requis)" minlength="2" maxlength="13" required>
    </div>

    <div class="field">
      <input type="text" name="icad" placeholder="Numéro de puce (requis)" maxlength="11" required>
    </div>
    
    <div class="field">
      <input type="text" name="breed" placeholder="Race (requis)" id="breedSearch" autocomplete="off" required>
      <div id="breedList"></div>
    </div>

    <p id="labeldate">Date de naissance (requis):</p>
    <div class="field">
      <input type="date" name="birthday" required>
    </div>

    <p id="labeldate">Sexe (requis):</p>
    <div class="inline fields" id="check">
      <div class="inline field" id="checkfield">
          <input type="radio" name="sexe" value="1" tabindex="0" class="hidden" required>
          <label>Mâle</label>
      </div>

      <div class="inline field" id="checkfield">
          <input type="radio" name="sexe" value="0" tabindex="0" class="hidden" required>
          <label>Femelle</label>
      </div>
    </div>  

    <p id="labeldate">Taille (requis):</p>
    <div class="inline fields" id="check">
      <div class="inline field" id="checkfield">
        <input type="radio" name="size" value="1" tabindex="0" class="hidden">
        <label>Petit</label>
      </div>

      <div class="inline field" id="checkfield">
        <input type="radio" name="size" value="2" tabindex="0" class="hidden">
        <label>Moyen</label>
      </div>

      <div class="inline field" id="checkfield">
        <input type="radio" name="size" value="3" tabindex="0" class="hidden">
        <label>Grand</label>
      </div> 
    </div>

    <p id="labeldate">Stérile (requis):</p>
    <div class="inline fields" id="check">
      <div class="inline field" id="checkfield">
        <input type="radio" name="sterile" value="1" tabindex="0" class="hidden" required>
        <label>Oui</label>
      </div>

      <div class="inline field" id="checkfield">
          <input type="radio" name="sterile" value="0" tabindex="0" class="hidden" required>
          <label>Non</label>
      </div>
    </div>

    <div class="loginDivButton">
      <button type="submit" class="login-button">Confirmer</button>
      <img src="/img/balades.png" alt="img-login">
    </div>

</form>

<script type="text/javascript" src="breedSuggest.js"></script>
<script type="text/javascript" src="citySuggest.js"></script>
<script type="text/javascript" src="registerValid.js"></script>

<%- include ('../includes/footerIndex.ejs') %>