<%- include('../includes/header.ejs')%>

<hr>
<h2>Invitations</h2>
<p>ici toutes vos invitations en attente</p>

<hr>
<h2>Acceptées</h2>
<p>ici toutes les balades auxquelles vous participez</p>

<hr>
<h2>Créees</h2>
<p>ici toutes les balades dont vous êtes le propriétaire</p>

<a id="addDogButton" href="/walk-create">Créer une balade <i class="plus square icon"></i></a>

<%- include ('../includes/footer.ejs') %>
