<%- include('../includes/header.ejs')%>

<form class="ui form" action="/walk-create" method='post'>

<p>Le :</p>
<input type="date" />
<p>De :</p>
<input type="time" />
<p>Au :</p>
<input type="time" />

<p>Ajouter un participant :</p>
<input type="search" />

</form>

<%- include ('../includes/footer.ejs') %>